@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

nav {
  background-image: linear-gradient(to right, #1c2230, #181e2a);
  /* padding: 0 !important; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #616775;
  padding-left: 50px;
  padding-right: 50px;
}

div.logo {
  font-size: 1.6rem;
  margin: 0.5rem;
  color: #dfdee3;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  color: #616775;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links li a:hover {
  color: #dfdee3;
}

.navbar-links li:hover {
  background: #6bbdc9;
  border-radius: 3px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #dfdee3;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Banner Area Styling */

section#banner-area {
  background-image: linear-gradient(to right, #1c2230, #181e2a);
  padding-top: 5%;
  color: #dfdee3;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 30px;
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

div.banner-image {
  display: flex;
  justify-content: flex-end;
}

div.banner-image img {
  width: 300px;
  height: 350px;
}

div.banner-header h3 {
  font-weight: 400;
  font-size: 23.5px;
  margin-top: 100px;
}

div.banner-header p {
  font-size: 14px;
  margin-top: 20px;
}

div.banner-button {
  margin-top: 30px;
}

div.banner-button a {
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 50px;
  background: #6bbdc9;
  color: #dfdee3;
}

div.banner-button a:hover {
  background: #61b3c0;
}

/* .bottom-image {
  width: 100%;
} */

@media (max-width: 700px) {
  section#banner-area {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  div.container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  div.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.banner-header h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
  }

  div.banner-header p {
    font-size: 13px;
    margin-left: 10px;
  }

  div.banner-button {
    margin-left: 10px;
  }
}

/* Services Area Styling */

h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  text-transform: uppercase;
  color: #181e2a;
}

.title::before {
  content: "";
  background: #181e2a;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background: #181e2a;
  height: 10px;
  width: 50px;
  /* margin-bottom: 40px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(20px);
}

section#services-area {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.fas {
  width: 100px;
  margin-top: 15px;
}

div.services-box1 {
  padding: 10px 20px;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

div.services-box1:hover {
  background: #fff;
  box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
  transition: all 0.5s ease 0s;
}

div.services-box1 h4 {
  padding: 5px;
  margin-top: 25px;
  color: #181e2a;
  font-size: 22px;
  text-transform: uppercase;
}

div.services-box1 p {
  color: #181e2a;
  font-size: 16px;
}

@media (max-width: 700px) {
  div.services-box1 h4 {
    font-size: 20px;
  }

  div.services-box1 p {
    font-size: 12px;
  }
}

/* Sectionn Product Area Style */

section#product-area {
  background-image: linear-gradient(to right, #1c2230, #181e2a);
  position: relative;
  padding-bottom: 10em;
}

section#product-area::before,
section#product-area::after {
  content: "";
  position: absolute;
  height: 100px;
  top: -70px;
  background: #fff;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
}

div.product-container {
  justify-items: center;
  align-items: center;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.product-header h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #dfdee3;
}

div.product-header p {
  margin-bottom: 15px;
  font-size: 15px;
  color: #dfdee3;
}

div.product-link {
  padding-top: 15px;
}

div.product-link a {
  padding: 10px 50px;
  background: #6bbdc9;
  border-radius: 50px;
  font-size: 16px;
  color: #dfdee3;
  text-decoration: none;
}

div.product-link a:hover {
  background: #61b3c0;
}

@media (max-width: 700px) {
  section#product-area {
    padding-bottom: 10em;
  }

  div.product-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.product-header h3 {
    text-align: center;
    font-size: 18px;
  }

  div.product-header p {
    font-size: 15px;
    text-align: center;
  }

  div.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.product-image img {
    width: 300px;
    height: 260px;
  }

  div.product-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Product Boxes Area Style */

div.product-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.product-grid-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

div.product-grid-area .box-1 {
  background: #21293c;
  padding: 10px 20px;
  border-radius: 3px;
  width: 270px;
  height: 150px;
  transition: all 0.5s;
  margin-bottom: 15px;
}

div.product-grid-area .box-1:hover {
  transform: scale(1.07);
}

div.product-grid-area .box-1 p {
  font-size: 14px;
  color: #dfdee3;
}

div.box-1-image {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

div.box-1-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

div.box-1-image h5 {
  margin-top: 5px;
  color: #dfdee3;
  font-size: 12px;
}

span.par {
  font-size: 10px;
  color: #616775;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  div.product-grid-area {
    display: flex;
    flex-direction: column;
    /* grid-gap: 20px; */
  }
}

/* Footer Section Styling */

section#footer {
  background: #0c1524;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10em;
  padding-bottom: 20px;
  position: relative;
}

div.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

div.footer-logo h1 {
  font-size: 30px;
  color: #dfdee3;
  margin-bottom: 15px;
}

div.footer-logo p {
  color: #616775;
  font-size: 15px;
  letter-spacing: 2px;
}

div.footer-links li {
  list-style: none;
  margin: 20px;
}

div.footer-links a {
  text-decoration: none;
  color: #dfdee3;
  font-size: 16px;
}

div.footer-links a:hover {
  color: #6bbdc9;
}

div.footer-social-media i {
  margin: 8px;
  background: #61b3c0;
  padding: 5px;
  color: #181e2a;
  border-radius: 10px;
}

@media (max-width: 700px) {
  section#footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10em;
  }

  div.footer-container {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }
}

/* NewsLetter Section Style */

div.news-letter {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.news-letter-container {
  background: #1c2230;
  padding: 10px 30px;
  width: 400px;
  height: 170px;
  position: absolute;
  top: -100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

div.news-letter-heading h4 {
  text-align: center;
  margin-bottom: 10px;
  color: #dfdee3;
  font-size: 18px;
  font-weight: 400;
}

div.news-letter-heading p {
  text-align: center;
  margin-bottom: 10px;
  color: #dfdee3;
  font-size: 14px;
}

div.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 300px;
  margin-right: 7px;
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
}

div.form button {
  border-radius: 50px;
  padding: 5px 20px;
  border: none;
  background: #6bbdc9;
  color: #dfdee3;
  cursor: pointer;
  font-size: 12px;
}

@media (max-width: 700px) {
  div.news-letter-container {
    padding: 10px 30px;
    width: 300px;
    height: 180px;
  }

  div.news-letter-heading p {
    font-size: 13px;
  }
}
